.Cards {
  width: 400px;
  max-width: 400px;
  margin: 20px auto;
  display: inline-flex;
  padding-left: 40px;
  background: #fff;
}

@media only screen and (min-width: 1200px) {
  .content__blog__container {
    width: 70%;
  }
}

@media only screen and (min-width: 1024px) {
  .cards__items {
    display: flex;
  }
}
